.modal-outer {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  justify-content: center !important;
  align-items: center;
  background-color: $modal-outer;

  .modal-inner {
    display: flex;
    width: 500px;
    height: 100px;
    align-items: center;
    background-color: $modal-inner;
    justify-content: center;
  }
}

.drawer-outer {
  position: fixed;
  -webkit-user-select: none;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.09);
  .drawer-inner {
    display: flex;
    width: 270px;
    height: 100vh;
    background-color: rgba(46, 50, 82, 0.44);
  }
}

.modal-enter {
  opacity: 0.01;
}

.modal-enter.modal-enter-active {
  opacity: 1;
  transition: opacity 100ms ease;
}

.modal-leave {
  opacity: 1;
}

.modal-leave.modal-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.drawer-enter {
transform: translateX(-100%);
}

.drawer-enter.drawer-enter-active {
  transform: translateX(0%);
  transition: transform 100ms ease;
}

.drawer-leave {
 transform: translateX(0%);
}

.drawer-leave.drawer-leave-active {
  transform: translateX(-100%);
  transition: transform 100ms ease;
}
