/* Navbar */
.navbar {
  .menu-spacing {
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    font-size: larger;
  }
  .drawer-menu {
    padding: 20px;
    .menu-item {
      cursor: pointer;
      padding-right: 10px;
    }
  }
}


  // display: flex;
  // padding-top: 10px;
  // justify-content: space-between;d
  // .clock {
  //   font-family: monospace;
  //   font-size: 30px;
  //   font-weight: 400;
  //   padding: 10px;
  //   color: $logo-color;
  // }
  // .logo {
  //   border-style: solid;
  //   border-radius: 50px;
  //   font-size: 25px;
  //   color: $logo-color;
  //   padding: 10px;
  //   border-color: $logo-color;
  // }
//}
